@import url("DINRoundPro-Bold/style.css");

*{
    font-family: "DIN Round Pro",sans-serif;
}

h1 {
    font-size: 32px;
    line-height: 40px;
    margin: 0 0 50px;
}

h1, h2 {
    font-weight: 700;
}
nav{
    z-index: 100;
}
a.navbar-brand{
    font-size: 32px;
}
a.btn-green {
    background-color: #58a700;
}

.bg_nav {
    background-color: #235390!important;
}

header {
    
    background-image: url(https://d35aaqx5ub95lt.cloudfront.net/images/star-pattern.svg);
}



.ico-red{
    color:#fc4848;
}
.ico-orange{
    color:#ff9600;
}
.ico-green{
    color:#70d700;
}
.ico-blue{
    color:#1cb0f6;
}

.card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.card img{
    opacity: 1;
    transition: .5s ease;
  backface-visibility: hidden;
}

.container-img{
    background-size: 250px;
    width: 250px;
    position: relative;
    min-width: 192px;

}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
  }
  
  .container-img:hover img {
    opacity: 0.3;
  }
  
  .container-img:hover .middle {
    opacity: 1;
  }

.font-card p{
    font-size: 16px;
    font-family: sans-serif;
}
/*Optional Contrast*/
.contrast {filter: contrast(110%);}

button.navbar-toggler{
    z-index: 100;
    bottom: 0;
    right: 0;
    border: red solid 1px;
    margin: 20px 30px;
}

.btn-portfolio>::after{

    border-color: transparent;
    bottom: -4px;
    content: "";
    left: 0;
    right: 0;
    top: 0;
}

@media (hover: hover){
    a.btn:hover {
        filter: brightness(1.1);
    }
    
}
