body {
    background-color: #f8dade;
}

.btn-color {
    background-color: #3a8197;
    color: white;
}
.form-login, .p-login, .form-control{
    font-size: 14px;
}

.border-3 {
    border-width:3px !important;
}

.jumbotron > *{
    display: block;
    margin: 20px 0;  
}
.jumbotron > *:first-child {
    margin-top: 0px;
}
.title-login{
   
   font-weight: 700;
}
#emailHelp{
    font-size: 10px;
}
/*border #ffbe0b*/
img {
    object-fit: cover;
}
