body{
    font-size: 25px;
    margin: 0px;
    padding: 0px;
}

.stop-scrolling {
    height: 100%;
    overflow: hidden;
  }
  
.bg-nav{
    background-color: #000028;
    
}

#navbarDropdownMenuLink:hover + .dropdown-menu {
    
    display: block;

}
.dropdown-menu:hover{
    display: block;
}
.form-filter{
    z-index: 100;
    background-color: white;
}
