body {
	font-size: 25px;
	margin: 0px;
	padding: 0px;
}
.bg-nav {
	background-color: #000028;
}
#navbarDropdownMenuLink {
	&:hover {
		+ {
			.dropdown-menu {
				display: block;
			}
		}
	}
}
.dropdown-menu {
	&:hover {
		display: block;
	}
}
